<div class="wrapper">
    <div>
        <button class="btn" (click)="addCard()">Add card</button>
    </div>
    <div class="card-grid" *ngIf="cards && cards.length" #grid>
        <div  *ngFor="let card of cards; let i=index">
            <app-card [card]="card" [index]="i" (removeCard)="removeCard(i)"></app-card>
        </div>
    </div>
    <div class="card-grid" *ngIf="cards && !cards.length">
        No cards Present! Getting Cards... Please be patient
    </div>
</div>

<div (click)="eventProp($event,'div')">
    div
    <p (click)="eventProp($event,'p')">
        P
        <span (click)="eventProp($event,'span')">Span</span>
    </p>
</div>

<h1 counting>Hello, you have pressed enter {{counter}} number of times!</h1> Press enter key
to increment the counter.
  <button (click)="resetCounter()">Reset Counter</button>
  <button counting>Increment</button>