.card{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    background-color: #e2e4e8;
    border: 1px solid #000;
    border-radius: 0.25rem;
    padding: 0.25rem;
    img{
        height: 1rem;
        width: 1rem;
        border-radius: 0.25rem;
    }
    .card-content{
        flex:1;
    }
    span{
        cursor: pointer;
        float: right; 
    }
}